{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "Watson-Platform-CSF-Prod",
      "Space": "dev"
    },
    "Name": "sample-nodejs-cloudant",
    "Instrumentation": {
      "host": "go20171109kq",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}